.navbar .container-fluid {
    padding: 0 70px;
}

.formSearch {
    position: relative;
}

#search-bar {
    border-radius: 0;

}

#search-bar:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid;
}

.iconForSearchBar {
    position: absolute;
    top: 21px;
    left: 20px;
    background-color: beige;
    transform: translate(-50%, -50%);
}

.offcanvas-body .navbar-nav .nav-item {
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    position: relative;

}

.navbar {
    background: rgb(255, 255, 255) !important;
}

.navbar .navbar-toggler {
    outline: none;
}

.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-right .info {
    padding: 20px;
}

.navbar-right {
    .cart {
        cursor: pointer;
        transition: 0.4s ease;
        position: relative;

        i {
            display: block;
        }

        span {
            position: absolute;
            color: white;
            font-size: 10px;
            top: 30%;
            left: 55%;
            transform: translate(-50%, -50%);
        }
    }

    .cart:hover {
        opacity: 0.7;
        scale: 1.1;

        span {
            scale: 1.1;
        }
    }
}

.borderbottom {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    background: #FFCAD4;
    height: 5px;
    visibility: hidden;

}

@media (min-width: 1100px) {
    .navbar-nav .nav-item .nav-link::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 40%;
        transform: translateX(-40%);
        width: 0;
        background: #FFCAD4;
        height: 2px;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .navbar-nav .nav-item .nav-link:hover::after,
    .navbar-nav .nav-item .nav-link.active::after {
        width: 80%;
        visibility: visible;

    }
}

.formSearch .iconForSearchBar {

    border-radius: 20px;
}

@media (max-width:991px) {
    .formSearch .form-control {
        width: 0;
        margin: 0;
        padding-right: 0 !important;
        margin-right: 10px;
        border: transparent !important;
    }

    .iconForSearchBar {
        padding: 6px;
    }

    .navbar-nav .nav-item {
        margin-top: 20px;
        margin-left: 10px;
        padding: 10px;

    }

    .navbar-nav .nav-item .nav-link:hover {
        transform: rotate(360deg);
        transition: 0.3s ease-in-out;
    }


}

#parent {
    transition: 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, opacity 0.5s ease-in-out;

}

.offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
    height: 100vh;
}