body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select,
.filters input[type="date"],
.filters button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

/* Màu sắc chính cho bảng */
.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng shadow */
    border-radius: 10px;
}

/* Header của bảng */
.table th {
    background-color: #FBA1B7; /* Màu hồng đậm */
    color: #fff; /* Màu chữ trắng */
    padding: 10px;

}
/* Bo góc cho thanh tiêu đề */
.table th:first-child {
    border-top-left-radius: 10px; /* Bo góc trên trái */
}

.table th:last-child {
    border-top-right-radius: 10px; /* Bo góc trên phải */
}
/* Các hàng trong bảng */
.table td {
    padding: 10px;
}
.product-img img {
    width: 100px; /* Độ rộng của hình ảnh */
    height: auto; /* Chiều cao tự động dựa trên tỉ lệ */
    border-radius: 50%; /* Bo tròn góc của hình ảnh */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
}
.product-name {
    text-transform: capitalize;
}
.numeric-cell {
    white-space: nowrap;
}
.total-quantity {
    text-align: center;
}
/* Màu cho hàng chẵn */
.table tbody tr:nth-child(even) {
    background-color: #FFF0F5; /* Màu hồng nhạt cho hàng chẵn */
}
/* Bo góc cho hàng cuối cùng */
.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Bo góc dưới trái */
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Bo góc dưới phải */
}
/* Định dạng hình ảnh trong các dòng chẵn */
.even-row .product-img img {
    background-color: #FFF0F5; /* Màu nền cho dòng chẵn */
}

/* Định dạng hình ảnh trong các dòng lẻ */
.odd-row .product-img img {
    background-color: #fff; /* Màu nền cho dòng lẻ */
}

.sale-container {
    display: flex;
    justify-content: center;
}
 /* Kiểu cho phần tử chứa thông tin doanh thu */
#revenue-info {
    position: relative; 
    margin-top: 20px;
    margin-right: 20px;
    padding: 25px;
    border-radius: 8px;
    width: 250px; /* Điều chỉnh kích thước cho phù hợp với nội dung */
    color: rgb(52, 71, 103);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Kiểu cho phần tử chứa tiêu đề "Sales" */
#revenue-info > p {
    font-size: 18px;
    color: rgb(103, 116, 142);
    font-weight: 600;
    margin: 0;
}

/* Kiểu cho phần tử chứa doanh thu của tháng hiện tại và biểu tượng */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Kiểu cho phần tử hiển thị doanh thu của tháng hiện tại */
#current-revenue {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

/* Kiểu cho phần tử chứa icon */
.icon {
    width: 50px;
    height: 50px;
    background: linear-gradient(310deg, rgb(251, 99, 64), rgb(251, 177, 64));
    border-radius: 50%;
    position: absolute; /* Kích hoạt vị trí tuyệt đối */
    top: 15%; /* Đặt top về 0 */
    right: -10%; /* Đặt right về 0 */
    transform: translate(-100%, 0); /* Dịch chuyển về bên trái 100% của phần tử cha */
    display: flex; /* Sử dụng flexbox để căn giữa biểu tượng */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

/* Kiểu cho icon */
.icon i {
    color: #fff; /* Màu biểu tượng */
    font-size: 20px; /* Kích thước biểu tượng */
}


/* Kiểu cho phần tử chứa phần trăm tăng/giảm và tiêu đề "so với tháng trước" */
.bottom {
    /* display: flex;
    align-items: center; */
}
.bottom p {
    color: rgb(103, 116, 142);
    margin: 0;
    font-size: 13px;
}
/* Kiểu cho phần tử hiển thị phần trăm tăng/giảm */
#revenue-change {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
